h1{ font-family: cursive; 
	line-height: 84px;
    border-width: 1,3px; 
	border-color: #363636;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    font-size: 50px;
    margin-left: 0px;
    box-shadow: 0px 1px 5px #CBCBCB;
   
}
h5{
    border-width: 0,1px; 
    border-color: black;
    border: ridge;
    border-right: #FFFFFF;
    border-left: #FFFFFF;
    font-family: 30px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    background-color: #F9F9F9;
    background: #F9F9F9;
    font-family: sans-serif
}
a{ text-decoration: none; 
	color: #000000;
}
a:hover{ 
	color: #4F4F4F;
}
h2{ 
	font-family: monospace;
}
img{
	box-shadow: 10px 10px 4px black;
}
p{
	font-stretch: ultra-expanded;
}
