h1{ font-family: cursive; 
	line-height: 84px;
    border-width: 1,3px; 
	border-color: #363636;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    font-size: 50px;
    margin-left: 0px;
    box-shadow: 0px 1px 5px #CBCBCB;
}
h5{
    border-width: 0,1px; 
    border-color: black;
    border: ridge;
    border-right: #FFFFFF;
    border-left: #FFFFFF;
    font-family: 30px;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}
	
a{ text-decoration: none; 
}

}
a:hover{ 
	color: #3BD2E7;
	box-shadow: 1px 1px 0,5px black;

}
